/* terms-condition.module.css */

.container {

    width: 80%;
    margin: 0 auto;
  }
  
  .title {
    text-align: center;
  }
  
  .content {
    width: 100%;
  }
  
  .blackBoldText {
    color: red;
    font-size: 16px;
    font-weight: bold;
  }
  .boldText {
    color: black;
  }
  
  .boldText span {
    font-weight: bold;
    font-size: 20px;
  }
  
  .boldText span a {
    color: blue;
  }
  