

.faqContainer {
    text-align: center;
    margin-top: 50px;
  }
  
  .faqHeader {
    font-size: 34px;
    display: inline;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: transparent;
    background: linear-gradient(to right, red 0%, red 15%, blue 85%, blue 100%);
    -webkit-background-clip: text;
    background-clip: text;
    bottm-border:5px solid #ccc
  }
  
  
  
 
  
  .faqHeader::after {
    content: 'Frequently Ased Question';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, red, blue);
    z-index: -1;
    mix-blend-mode: screen;
    border-radius: 4px; /* Optional: Add border-radius for better aesthetics */
  }
  
  .faqList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
  }
  
  .faqItem {
    width: 100%;
  }
  
  .questionButton {
    background-color: #fff;
    border: none;
    margin-left: 50px;
    margin-right: 50px;
    overflow: hidden; /* Add overflow hidden */
    cursor: pointer;
    padding: 10px;
    margin-bottom: 5px;
    width: 90%;
    text-align: left;
    transition: all 0.3s ease;
    border-bottom: 1px solid #ccc;
  }
  
  
  .questionButton:hover {
    background-color: #f5f5f5;
  }
  
  .questionButton.active {
    background-color: #f5f5f5;
  }
  
  .answer {
    display: none;
    justify-content: center;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    width: 100%;
  }
  
  .showAnswer {
    display: block;
  }
  /* Your existing CSS */

/* For small devices (e.g., smartphones) */
@media (max-width: 768px) {
  .faqContainer {
    text-align: left; /* Align text to the left for better readability on smaller screens */
    margin-top: 30px; /* Adjust margin top for smaller devices */
  }

  .faqHeader {
    font-size: 24px; /* Reduce font size for smaller screens */
    padding: 5px; /* Adjust padding for smaller screens */
    border-bottom: 1px solid #ccc;
    background: linear-gradient(to right, red 0%, red 15%, blue 85%, blue 100%);
    -webkit-background-clip: text;
    background-clip: text;
    bottm-border: 5px solid #000;
  }

  .faqHeader::after {
    display: none; /* Hide the background overlay for smaller screens */
  }

  .faqList {
    margin-top: 50px; /* Adjust margin top for smaller devices */
  }

  .questionButton {
    margin-left: 10px; /* Adjust margin for smaller screens */
    margin-right: 10px; /* Adjust margin for smaller screens */
    width: 90%; /* Adjust width for smaller screens */
  }

  .answer {
    padding: 5px; /* Adjust padding for smaller screens */
  }
}
