/* Entire form container */
.form-container {
  background-color: blue;
  padding: 20px;
  border-radius: 5px;
  width: 50%; /* Adjust width as needed */
  box-sizing: border-box;
  margin: 25px;
  margin-left: 50px;
  float: right;
  display: flex;
  flex-direction: column;
}

/* Individual form elements */
.form-container .form-element {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.form-container .form-element div {
  flex: 1;
  margin-right: 10px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
}

.form-container select,
.form-container input,
.form-container textarea {
  width: calc(100% - 20px);
  padding: 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  box-sizing: border-box;
}

.form-container button {
  background-color: #141514;
  color: white;
  padding: 10px 20px;
  border: none;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 0 auto; /* Center the button */
}

.form-container button:hover {
  background-color: #982927;
}

/* Styling for captcha code section */
.form-container .captcha-code {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 15px;
  margin-left: -5px;
  width: 50%;
  margin-top: 20px;
  background-color: #ffffff; /* Set background color to white */
}
