/* PlaceOrder.module.css */

.order-container {
  width: 75%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.order-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  border: 3px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.logo {
  max-width: 100px !important; /* Set maximum width */
  height: 100px;
  margin-top: -75px;
  margin-bottom: 20px; /* Maintain aspect ratio */
}

.logo-image {
  width: 200px; /* Set the desired width */
  height: auto; /* Maintain aspect ratio */
}
@media screen and (max-width: 576px) {
  .logo {
    max-width: 80px; /* Set maximum width for small devices */
    height: 80px; /* Adjust height accordingly */
    margin-top: -50px;
    
  }
  .order-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    margin-bottom: 50px; /* Adjust margin between logo and form */
  }

  .logo-image {
    margin-left: -50px;
    width: 160px; /* Set width for small devices */
    height: auto; /* Maintain aspect ratio */
  }
}
.order-title {
  margin: 0;
}

.billing-shipping {
  width: 100%;
  padding: 20px 0;
}

h3 {
  color: white;

}

.info {
  color: white;
  margin-top: -30px;
  text-align: center;
}

.order-container {
  
  label {
    color: black;
    font-weight: bold;
  } 
}
.billing-name {
  background-color: #ffffff; /* White background */
  padding: 10px;
  margin-bottom: 10px;
}

.billing-name label[for="firstName"],
.billing-name label[for="lastName"] {
  background-color: white; /* Adjust to your desired color */
  display: block;
  padding: 5px;
}

.billing-address {
  background-color: #ffffff; /* White background */
  padding: 10px;
  margin-bottom: 10px;
}

#country {
  background-color: #ffffff; /* White background */
  padding: 10px;
  margin-bottom: 10px;
}

.billing-name,
.billing-address {
  display: flex;
  flex-wrap: wrap;
}

.billing-name div,
.billing-address div {
  flex: 0 0 calc(45% - 10px);
  margin-right: 10px;
  position: relative;
  margin-bottom: 20px;
}

.billing-name input,
.billing-address input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.billing-name label,
.billing-address label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: 0.3s ease-out all;
}

.billing-name input:focus + label,
.billing-name input:not(:placeholder-shown) + label,
.billing-address input:focus + label,
.billing-address input:not(:placeholder-shown) + label {
  top: 5px;
  font-size: 12px;
  color: black;
  background: white;
  padding: 0 5px;
}

/* Additional styles for both billing-name and billing-address */
.billing-name,
.billing-address {
  /* Your common styles for both sections */
  /* For example: */
  margin-top: 20px;
}

h6{
  background-color: #fff;
  color: black;
  margin-bottom: -20px;
}
/* styles.module.css */

/* Combined styles for billing-name and billing-address */
.billing-name,
.billing-address {
  display: flex;
  flex-wrap: wrap;
}

.billing-name div,
.billing-address div {
  flex: 0 0 calc(45% - 10px);
  margin-right: 10px;
  position: relative;
  margin-bottom: 20px;
}

.billing-name input,
.billing-address input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.billing-name label,
.billing-address label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: 0.3s ease-out all;
}

.billing-name input:focus + label,
.billing-name input:not(:placeholder-shown) + label,
.billing-address input:focus + label,
.billing-address input:not(:placeholder-shown) + label {
  top: 5px;
  font-size: 12px;
  color: black;
  background: white;
  padding: 0 5px;
}

/* Additional styles for both billing-name and billing-address */
.billing-name,
.billing-address {
  /* Your common styles for both sections */
  /* For example: */
  margin-top: 20px;
}

/* Media query for smaller devices */
@media screen and (max-width: 768px) {
  .billing-name div,
  .billing-address div {
    flex: 0 0 100%; /* Full width on smaller devices */
    margin-right: 0;
    margin-bottom: 15px; /* Adjust space between rows for smaller devices */
  }
}


.billing-shipping {
  background-color: #1A237E; /* Adjust to your preferred shade of light red */
  padding: 20px;
  border-radius: 8px; /* Optional: Adds rounded corners to the form */
}


.billing-name input[type="text"]:first-child,
.billing-name input[type="text"]:last-child {
  width: calc(50% - 5px);
}

.billing-address {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.billing-address label {
  width: 100%;
}

.billing-address input {
  width: calc(50% - 5px);
  margin-right: 10px;
  margin-bottom: 10px;
  padding: 8px;
}

/* Additional styles for the Postal / Zip Code and Country inputs */
#postalCode,
#country,
#city,
#state {
  width: calc(50% - 15px);
  margin-right: 10px;
}

.billing-name,
.billing-address,
#phone,
#email,
.shipping-names,
.business-name,
.shipping-address,
.shipping-phone {
  background-color: #ffffff; /* White background */
  padding: 10px;
  margin-bottom: 10px;
}

.shipping-phone {
  border: 1px solid #ccc; /* Border around the shipping phone section */
  border-radius: 5px; /* Rounded corners */
}

.shipping-phone h3 {
  margin-top: 0; /* Remove default margin from h3 */
}

.shipping-phone label {
  display: block;
  margin-bottom: 5px; /* Spacing between labels and inputs */
}

.shipping-phone input[type="text"],
.shipping-phone input[type="tel"] {
  width: calc(100% - 12px); /* Adjusting input width */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Input border */
  border-radius: 4px; /* Rounded corners for inputs */
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.shipping-address {
  border: 1px solid #ccc; /* Border around the shipping address section */
  border-radius: 5px; /* Rounded corners */
}

.shipping-address h3 {
  margin-top: 0; /* Remove default margin from h3 */
}

.shipping-address label {
  display: block;
  margin-bottom: 5px; /* Spacing between labels and inputs */
}

.shipping-address input[type="text"] {
  width: calc(100% - 12px); /* Adjusting input width */
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc; /* Input border */
  border-radius: 4px; /* Rounded corners for inputs */
}

.shipping-address p {
  margin-top: 5px; /* Top margin for the paragraph */
}
.shipping-names {
  margin-bottom: 15px; /* Additional margin for spacing */
}
.make-model-section ,.parts-section ,.year-section,.comments-section{
  background-color: white;
  padding: 10px; /* Add padding as needed */
  border-radius: 5px; /* Optional: Add border-radius for rounded corners */
  margin-top: 10px; /* Add margin-top for spacing */
}

.make-model-section label ,.parts-section label,.year-section label,.comments-section label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.make-model-section select ,.parts-section select, .year-section select{
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  /* Add any other desired styles */
}
.comments-section textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  resize: vertical; /* Allow vertical resizing */
  /* Add any other desired styles */
}
/* styles.module.css */

/* styles.module.css */

/* Wrapper for sections */
.sections-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Add gap between elements */
}

.part-price-section,
.shipping-section {
  flex: 0 0 calc(50% - 5px); /* Two elements in a row with gap */
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.part-price-section label,
.shipping-section label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.part-price-section input[type="number"],
.shipping-section input[type="number"] {
  width: calc(100% - 16px); /* Adjust width */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}


@media screen and (max-width: 768px) {
  .part-price-section,
  .shipping-section {
    flex: 0 0 100%; /* Full width on smaller devices */
    margin-bottom: 10px; /* Adjust space between rows */
  }
}
.total-amount-section {
  background-color: #ffffff; /* Set background color to white */
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.total-amount-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.total-amount-section p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 15px;
}

.terms-section {
  background-color: #ffffff; /* Set background color to white */
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.terms-section h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.terms-section p {
  font-size: 1em;
  line-height: 1.5;
  margin-bottom: 15px;
}

.terms-section label {
  display: block;
  margin-top: 10px;
}

.terms-section input[type="checkbox"] {
  margin-right: 10px;
  vertical-align: middle;
}
/* Signature section */
.signature-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.signature-canvas {
  border: 1px solid #000;
  margin-bottom: 5px;
  border-radius: 3px;
}

.signature-clear-button {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  background-color: #f44336;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
  outline: none;
  border-bottom: 1px solid #d32f2f;
}

.signature-clear-button:hover {
  background-color: #d32f2f;
}

/* Payment section */
.payment-section {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 20px;
  background-color: #fff;
  border-radius: 8px;
}

/* PayPal button */
.paypal-button {
  display: block;
  width: 200px;
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #00457c;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.paypal-button:hover {
  background-color: #00375c;
}

/* Amount section */
.amount-section {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.amount-label {
  font-weight: bold;
  margin-bottom: 10px;
}

.amount-value {
  font-size: 18px;
  color: #00457c;
}

/* Captcha section */
.captcha-section {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #fff;
}

.captcha-input {
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.captcha-code {
  display: inline-block;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  font-size: 14px;
  width: 125px;
  height: 40px;
  text-align: center;
  margin-right: 15px;
  margin-left: 15px;
}

.captcha-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #4285f4;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 14px;
  outline: none;
}

.captcha-button:hover {
  background-color: #2a66c9;
}

@media screen and (max-width: 768px) {
  .paypal-button {
    width: 100%; /* Adjust PayPal button width for smaller screens */
  }

  .signature-canvas {
    width: 100%; /* Set signature canvas width to full for smaller screens */
  }

  .captcha-code {
    width: calc(100% - 30px); /* Set captcha code input width to 100% minus padding */
    margin: 5px 15px; /* Adjust margins */
    box-sizing: border-box; /* Include padding in the width */
  }
  .captcha-input {
    width: calc(100% - 20px); /* Adjust the width for smaller screens */
    margin: 5px 10px; /* Adjust margins */
    box-sizing: border-box; /* Include padding in the width */
  }
  
}



.bottom-buttons-section {
  display: flex;
  justify-content: space-around; /* Adjust this as needed */
  margin-top: 20px; /* Add spacing from the content above */
}

/* Style for action buttons */
.action-button {
  padding: 10px 20px;
  margin: 0 5px;
  font-size: 16px;
  background-color: #007bff; /* Change this to your desired button color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.action-button:hover {
  background-color: #0056b3;
  /* Change this to your desired hover color */
}
/* PlaceOrder.module.css */

/* Your existing styles */

.bottom-buttons-section {
  display: flex;
  flex-direction: column;
  background: #fff;
  gap: 10px; /* Spacing between buttons */
  margin-top: 10px;
  padding: 20px; /* Increase padding for more background */
  border-radius: 8px; /* Optional: Add border-radius for rounded corners */
}

/* Style for each button */
.action-button {
  width: 100%; /* Make buttons take the full width */
}
.additional-sections {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute items evenly along the main axis */
  margin-bottom: 20px; /* Add space between this section and others */
}

/* Common styles for all sections */
.additional-sections > div {
  flex: 0 0 calc(33.33% - 10px); /* Each section takes up 33.33% width with margin-right */
  margin-right: 10px;
  position: relative;
  margin-bottom: 20px;
}

/* Adjust styles for smaller devices (Medium-sized screens) */
@media screen and (max-width: 768px) {
  .additional-sections > div {
    flex: 0 0 calc(50% - 10px); /* Each section takes up 50% width on medium devices */
  }
}
