/* benefitsPage.module.css */

.pageContainer {
  background: grey;
  padding: 30px;
  margin: 20px;
  margin-left: 20px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.benefitCard {
  flex: 0 0 calc(33.333% - 20px);
  background: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 10px; /* Add space on the left side of each card */
  margin-right: 10px; /* Add space on the right side of each card */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px; /* Gap between each card */
}

h1 {
  text-align: center;
  margin-top: 0; /* Reset default margin */
}

.icon {
  /* Define styles for your icon */
  margin-bottom: 10px; /* Add margin for separation from text */
}
